@import "tailwindcss";

@theme {
  --color-background: #0a0a0f;
  --color-panel: #15151e;
  --color-accent: #3b82f6;

  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: white;
  }
}